<div class="container login-container tw-flex tw-justify-center tw-mt-14">
  <form [formGroup]="loginForm" class="tw-w-3/4 sm:tw-w-1/3 xs:tw-w-2/4" >
    <mat-card>
      <mat-card-title>Challenge Product</mat-card-title>
      <mat-card-subtitle>Inicie sesión en su cuenta</mat-card-subtitle>
      <mat-form-field class="full-width tw-mt-2">
        <mat-label>Usuario</mat-label>
        <input id="emailInput" matInput placeholder="Usuario" formControlName="username" autocomplete="username"
               type="text">
        <mat-error id="requiredEmailError" *ngIf="loginForm.controls['username'].hasError('required')">
          Usuario es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width tw-mt-2">
        <mat-label>Contraseña</mat-label>
        <input id="passwordInput" matInput placeholder="Contraseña" formControlName="password" type="password"
               autocomplete="current-password">
        <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['password'].hasError('required')">
          Contraseña es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <div class="tw-flex tw-mt-2 tw-p-0">
        <button mat-raised-button id="login" color="primary" [disabled]="loginForm.invalid || loading"
                (click)="login()">Entrar
        </button>
        <button mat-button id="resetPassword" (click)="resetPassword()" type="button" class="tw-ml-3">Recuperar contraseña</button>
      </div>

      <div class="tw-flex tw-justify-center tw-mt-5 tw-p-0">
        <p>Si no tienes una cuenta, crea aqui!</p>
      </div>

      <div class="tw-flex tw-justify-center tw-p-0">
        <button mat-raised-button color="accent"
                (click)="signIn()">Crear cuenta
        </button>
      </div>
    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
