<div class="container login-container tw-flex tw-justify-center tw-mt-14">
  <form [formGroup]="form" class="tw-w-3/4 sm:tw-w-1/3 xs:tw-w-2/4" >
    <mat-card>
      <mat-card-title>Challenge Product</mat-card-title>
      <mat-card-subtitle>Crear cuenta nueva</mat-card-subtitle>

      <mat-form-field class="full-width tw-mt-2">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" formControlName="username" autocomplete="username" type="text">

        <mat-error *ngIf="form.controls['username'].hasError('required')">
          Nombre completo es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width tw-mt-2">
        <mat-label>Email</mat-label>
        <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email" type="email">

        <mat-error *ngIf="form.controls['email'].hasError('email')">
          Por favor introduce un email válido
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width tw-mt-2">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" formControlName="password" autocomplete="password" type="password">

        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Contraseña es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width tw-mt-2">
        <mat-label>Nombre completo</mat-label>
        <input matInput placeholder="Nombre completo" formControlName="fullname" autocomplete="fullname" type="text">

        <mat-error *ngIf="form.controls['fullname'].hasError('required')">
          Nombre completo es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <div class="tw-flex tw-mt-2 tw-p-0">
        <button mat-raised-button id="login" color="primary" [disabled]="form.invalid || loading"
                (click)="resetPassword()">Crear cuenta
        </button>
        <button mat-button id="resetPassword" (click)="cancel()" type="button" class="tw-ml-3">Volver al login</button>
      </div>
    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
