<div class="container flex justify-center items-none">
  <div class="tw-w-11/12 container-card">
    <mat-card>
      <mat-card-content>
        <h2>Perfil</h2>
        <div class="container flex justify-center items-none">
          <div class=" tw-w-full text-center no-records animate">
            <mat-icon>person</mat-icon>
            <p>No existe perfils</p>
            <p>(Aun no se ha implementado)</p>
          </div>
          <mat-icon></mat-icon>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>
