<div class="container login-container tw-flex tw-justify-center tw-mt-14">
  <form [formGroup]="form" class="tw-w-3/4 sm:tw-w-1/3 xs:tw-w-2/4" >
    <mat-card>
      <mat-card-title>Challenge Product</mat-card-title>
      <mat-card-subtitle>Recuperar contraseña</mat-card-subtitle>
      <mat-form-field class="full-width tw-mt-2">
        <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email" type="email">

        <mat-error id="invalidEmailError" *ngIf="form.controls['email'].hasError('email')">
          Por favor introduce un email válido
        </mat-error>
        <mat-error id="requiredEmailError" *ngIf="form.controls['email'].hasError('required')">
          Email es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <div class="tw-flex tw-mt-2 tw-p-0">
        <button mat-raised-button id="login" color="primary" [disabled]="form.invalid || loading"
                (click)="resetPassword()">Recuperar contraseña
        </button>
        <button mat-button id="resetPassword" (click)="cancel()" type="button" class="tw-ml-3">Volver al login</button>
      </div>
    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
