<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        Challenge Product
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span [class.hidden.xs]="true">
        {{ userName }}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Cuenta</span>
      </a>

      <a mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Salir</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav ">

      <mat-nav-list>

        <a mat-list-item class="list-item-content" [routerLink]="['/home']" routerLinkActive="active">
          <mat-icon matListItemIcon class="list-icon">dashboard</mat-icon>
          <div matListItemTitle class="list-item">Inicio</div>
        </a>

        <a mat-list-item class="list-item-content" [routerLink]="['/products']" routerLinkActive="active">
          <mat-icon matListItemIcon class="list-icon">inventory</mat-icon>
          <div matListItemTitle class="list-item">Productos</div>
        </a>

        <a mat-list-item class="list-item-content" [routerLink]="['/users']" routerLinkActive="active">
          <mat-icon matListItemIcon class="list-icon">
            people
          </mat-icon>
          <div matListItemTitle class="list-item">Users</div>
        </a>

        <a mat-list-item class="list-item-content" [routerLink]="['/profile']">
          <mat-icon matListItemIcon class="list-icon">
            person
          </mat-icon>
          <div matListItemTitle class="list-item">Perfil</div>
        </a>

        <a mat-list-item class="list-item-content" (click)="logout()">
          <mat-icon matListItemIcon class="list-icon">
            exit_to_app
          </mat-icon>
          <div matListItemTitle class="list-item">Salir</div>
        </a>

      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
